/*STYLES GENERAUX*/
*{
    font-family: Avenir, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
    text-align: left;
}
body{
    background: #ededed;
}
p{
    font-size: 1em;
    line-height: 1em;
    text-align: left;
}
a{
    text-decoration: none;
    color: #000;
}

#menu-icon {
    font-size: 30px; /* Ajustez la taille de la police pour agrandir l'icône */
    cursor: pointer;
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
    color: white;
    background-color: #6F10E9; /* Couleur du cercle */
    width: 60px; /* Diamètre du cercle */
    height: 60px; /* Diamètre du cercle */
    border-radius: 50%; /* Pour créer un cercle */
    text-align: center;
    line-height: 60px; /* Pour centrer le contenu vertical */
}
#menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background: #6F10E9;
    width: 30%;
    margin-top: 80px;
    margin-right: 10px;
    max-width: 200px;
    padding-left: 10px;
    padding-right: 0;
    text-align: right;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#menu ul {
    list-style: none;
}
#menu ul li {
    font-size: 16px;
}
#menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
#menu-toggle:checked + #menu-icon + #menu {
    display: block;
}

/*HEADER & FOOTER*/
header, footer{
    width: 100%;
    padding: 20px 0px;
    background: linear-gradient(to bottom, #26034c, #840be8);
    box-shadow: 0 0 8px #fffffc,
    inset 0 0 8px #6F10E9,
    0 0 20px #6F10E9,
    inset 0 0 16px #6F10E9,
    0 0 22px #6F10E9,
    inset 0 0 22px #6F10E9;
    background-size: cover;
}
header{
    border-bottom: 2px solid #fff;
    height: 120px;
}
header h1{
    color: white;
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto;
}

footer{
    border-top: 2px solid #fff;
}
footer p{
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
footer a{
    color: #fff;
}

/*SECTIONS*/
section{
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 0 0 8px #fffffc,
    inset 0 0 8px #6F10E9,
    0 0 20px #6F10E9,
    inset 0 0 16px #6F10E9,
    0 0 32px #6F10E9,
    inset 0 0 32px #6F10E9;
    background-color: #ffffff;
}

section h2{
    margin: 20px 0;
    width: 90%;
}
section > div{
    width: 90%;
}

/*SECTION INFOS*/
.photo{
    text-align: center;
}
.photo img{
    width: 200px;
    height: 200px;
    border: 3px solid #fff;
    box-shadow:
    0 0 8px #ffffff,
    inset 0 0 8px #6F10E9,
    0 0 16px #6F10E9,
    inset 0 0 16px #6F10E9,
    0 0 12px #6F10E9,
    inset 0 0 12px #6F10E9;
    border-radius: 50%;
    margin-top: -80px;
}
.prez{
    border-bottom: 2px dashed #ccc;
    text-align: left;
}
.prez a{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px auto 30px auto;
    color: #fff;
    background-color: #6F10E9;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;
}
.contact-flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: left;
}
.contact-flex p:first-child{
    flex: 0 0 40%;
}
.contact-flex p:last-child{
    flex: 0 0 60%;
}
.social{
    display: flex;
    justify-content: space-around;
    margin: 10px auto 0px auto;
    text-align: left;
}

/*SECTION EXP ET FORMATION*/
.exp, .form{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.exp p{
    text-align: center;
}
.exp-info{
    display: flex;
    flex-flow: column wrap;
}
.exp-logo{
    flex: 0 0 25%;
    max-width: 100px;
    text-align: left;
}
.exp-lo{
    flex: 0 0 25%;
    max-width: 80px;
    margin-left: auto;
}
.exp-info{
    flex: 0 0 70%;
    margin-left: auto;
}
.exp img{
    width: 100%;
}
.exp h3{
    font-size:  1.2em;
}
.exp h4{
    font-size:  1em;
    font-weight: normal;
}

/*SECTION COMPETENCES*/
.h3gauche{
    width: 90%;
}
.comp{
    display:flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}
.comp p{
    flex: 0 0 40%;
}
.conteneur-barre{
    flex: 0 0 60%;
    border-radius: 5px;
    background-color: grey;
    border-bottom: 1px ridge grey;
    margin-bottom: 5px;
}
.barre{
    display: block;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.c60{
    width: 60%;
    background-color: #dfb408;
}

.c70{
    width: 70%;
    background-color: #dfb408;
}
.c80{
    width: 80%;
    background-color: #6F10E9;
}
.c85{
    width: 85%;
    background-color: #6F10E9;
}
.c90{
    width: 90%;
    background-color: #dfb408;
}
.c95{
    width: 95%;
    background-color: #dfb408;
}
.comp2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.conteneur-barre2{
    flex: 0 0 100%;
    height: 0.5em;
    margin-bottom: 0.25em;
    border-radius: 5px;
    background-color: grey;
}

/*SECTION INTERETS*/
.interet{
    flex: 0 1 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
}
.interet img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 8px #fffffc,
    inset 0 0 8px #6F10E9,
    0 0 20px #6F10E9,
    inset 0 0 16px #6F10E9,
    0 0 32px #6F10E9,
    inset 0 0 32px #6F10E9;

    margin-bottom: 15px;
}
.figcaption{
    font-size:  20px;
}
/*VERSION BUREAU DU CV*/
@media screen and (min-width: 980px){
    section{
        width: 80%;
        box-shadow: 0px 0px 10px #6F10E9;
    }
    a:hover{
        color: #6F10E9;
    }
    header h1{
        width: 80%;
    }
    .prez, .contact{
        flex: 0 0 45%;
        text-align: left;
    }
    .prez{
        border-bottom: none;
        border-right: 2px solid #6F10E9;
        padding-right: 20px;
        margin-left: auto;
    }
    .prez p{
        font-size: 15px;
        font-weight: bold;
    }
    .contact{
        padding-left: 20px;
        margin-right: auto;
        text-align: left;
    }
    .contact p{
        font-size: 15px;
        font-weight: bold;
    }
    .boutlchrgr{
        margin-top: 20px;
        padding: 15px;
        font-size: 20px;
        color: white;
        border-radius: 15px;
        box-shadow: 0 0 8px #fffffc,
            inset 0 0 8px #6F10E9,
            0 0 20px #6F10E9,
            inset 0 0 16px #6F10E9,
            0 0 32px #6F10E9,
            inset 0 0 32px #6F10E9;
    }
    .boutlchrgr:hover{
        color: white;
        background-color: #fc07bb;
        border: 2px solid #6F10E9;
        box-shadow: 0px 0px 20px #6F10E9;
    }
    .exp-logo{
        flex: 0 0 10%;
    }
    .exp-lo{
    flex: 0 0 10%;
    }

    .exp-info, .exp-desc{
        flex: 0 0 85%;
        margin-left: auto;
    }
    .interet{
        flex: 0 1 25%;
    }
}
@media screen and (max-width: 767px) {
    #menu-icon {
        display: block;
    }
    #menu {
        display: none;
    }
}  

@media (max-width: 768px) {
    #menu {
      width: 20%;
      max-height: 250px; /* Changer la largeur du menu pour qu'il occupe toute la largeur de l'écran */
      margin-top: 70px; /* Supprimer la marge supérieure pour réduire l'espace entre le menu et le haut de l'écran */
      max-width: none; /* Réinitialiser la largeur maximale pour occuper toute la largeur de l'écran */
      padding: 2px; /* Réduire l'espacement interne du menu */
    }
    #menu ul li {
        margin-bottom: 2px; /* Réduisez la marge entre les éléments du menu pour rapprocher les choix */
        font-size: 10px; /* Réduisez la taille de la police des choix du menu si nécessaire */
    }
    #menu ul li a {
     /* Réinitialiser la marge entre les éléments du menu si nécessaire */
        font-size: 10px; /* Réduire la taille de la police des choix du menu si nécessaire */
      }
  }